.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  background-color: #fff4e7;
  text-align: center;
  color: rgb(0, 0, 0);
}

.axiom {
  text-decoration: none;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: black;
  padding: 0%;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.c {
    width: 30px;
    height: auto;
}

td {
    padding: 15px;
}

.problem_text {
    background-color: white;
    text-align: center;
    margin: auto;
    width: 250px;
    border: 3px solid black;
    border-radius: 10px;
    display: block;
}

.problem_text2 {
    background-color: white;
    text-align: center;
    margin: auto;
    width: 350px;
    border: 3px solid black;
    border-radius: 10px;
    display: block;
}

.problem_text3 {
    background-color: white;
    text-align: center;
    margin: auto;
    width: 400px;
    border: 3px solid black;
    border-radius: 10px;
    display: block;
}

/* input { 
     transform: scale(2); 
 } */

button {
  background-color: orange;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 10px 0px black;
}
button.help {
  background-color: rgb(161, 167, 255);
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 10px 0px black;
}

button:hover {
    background-color: #ed9818;
    box-shadow: 0px 5px 0px black;
}
button.help:hover {
    background-color: #7582eb;
    box-shadow: 0px 5px 0px black;
}

button:active {
    box-shadow: inset 0px 0px 0px;
}

button.help:active {
    box-shadow: inset 0px 0px 0px;
}

.cover {
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;   
    padding: 0px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0px 5px 0px black;
}

/* .variables {
    display: grid;
} */

.var1 {
  padding: 0px;
  font-size: 20px;
  text-align: center;
  /*width: 100px;*/
  display: inline;
}
.block {
    display: block;
}

.inline {
    display: inline;
    width: 100px;
}

.anchor:nth-child(3)::before {
    content: "";
    display: block;
    margin-left: 10px;

}